<div ng-controller="ctrlDetailedObject" class="c4p-color-a-gradient{{cards.length}}">
	<div ng-controller="ctrlAction" ng-init="watchSrvNav();">

		<!-- Header = History + object category with drop down actions + meeting mode button -->
		<div class="row c4p-header-std c4p-header-details c4p-color-gradient0" ng-style="{width:getDetailWidth()+'px'}"
			resize-opts="{name:'navigation_detail_title'}">

			<div class="col-xxs-12">
		            <ul class="nav nav-pills">
		                <li class="">
		                <!-- ng-click="gotoMeeting(srvNav.item)" c4p-color-action-transparent -->
		                    <a class="btn btn-sm disabled">
		                        <img class="c4p-img-icon" src="l4p/img/logo_meeting_.png" />
		                    </a>
		                </li>
		                <li class="">
		                	<a class="btn disabled">
		                    	<h5>{{navTitle}}</h5>
		                    </a>
		                </li>
                        <li class="pull-right">
                            <a class="btn" ng-click="doAction('editItem')">
                                <span class="c4p-icon-std glyphicon glyphicon-edit"></span>
                            </a>
                        </li>
		            </ul>
		    </div>

			<!--
			//Meeting mode button
			<div class="col-xxs-1" style="text-align: right;">
				<div class="c4p-padding-w-packed" ng-click="gotoMeeting(srvNav.item)">
					<img class="c4p-img-icon-lg" src="l4p/img/logo_meeting.png" />
				</div>
			</div>

			// History
			<div class="col-xxs-1" style="text-align: left;">

			</div>

			// Item category with actions in dropdown
			<div class="col-xxs-10" style="text-align: center;">
                <div class="btn dropdown c4p-padding-w-packed c4p-color-action-transparent"
                     ng-controller="ctrlNavObject" ng-show="srvNav.history.length > 0">

					<span role="button" class="dropdown-toggle c4p-icon-std glyphicon glyphicon-reply-all c4p-color-action-transparent c4p-color-lnk"
                          style="font-size:0.8em"></span>

                    <ul style="overflow-x: hidden;" class="dropdown-menu c4p-dropdown-menu c4p-details-menu-align" role="menu">
                        <li ng-repeat="back in srvNav.history | limitTo:5" ng-click="gotoIndex($index)">
                            <div class="btn btn-sm c4p-padding-w-packed glyphicon glyphicon-{{back.itemIcon}}"></div>
                            <div class="btn btn-sm c4p-padding-w-packed " ng-switch="!back.itemName">
                                <span ng-switch-when="true">{{srvLocale.translations.htmlSlideName[back.slide]}}</span>
                                <span ng-switch-default> {{back.itemName}} </span>
                            </div>
                        </li>
                    </ul>
                </div>

				<div class="btn c4p-padding-w-packed dropdown c4p-color-action-transparent">
					<span role="button" class="dropdown-toggle">{{navTitle}}&nbsp;&nbsp;</span>
					<span role="button" class="dropdown-toggle glyphicon glyphicon-caret-down"></span>

					<ul class="dropdown-menu c4p-dropdown-menu c4p-details-menu-align" role="menu">
						// ngRepeat: view in calendarViews
						<li role="presentation" ng-repeat="action in actionList">
							<span class="btn btn-sm c4p-padding-w-packed c4p-outline-star glyphicon glyphicon-{{action.icon}}"
								ng-class="{'disabled': action.disabled}" ng-click="doAction(action.id)"></span>
							<span class="btn btn-sm c4p-padding-w-packed" ng-class="{'disabled': action.disabled}"
								ng-click="doAction(action.id)">{{srvLocale.translations.htmlActionName[action.id]}}</span>
						</li>
					</ul>
				</div>
			</div>


			-->

		</div>

		<div sense-opts="{name:'detailed_item_wrapper', axeY:'scroll', watchRefresh:['srvNav.item', 'srvNav.itemRelatedList[srvNav.itemRelatedGroup.type]']}"
			sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
			ng-style="{width:getDetailWidth()+'px'}"
			resize-opts="{name:'detailed_item_wrapper'}"
			resizecss-height="getResizeHeight() - getResizePathValue('navigation_detail_title', '', 'offsetHeight') - getResizePathValue('navigation_footer_detail', '', 'offsetHeight')">

			<div resize-opts="{name:'detailed_item_scroller', watchRefresh:['srvNav.item', 'srvNav.itemRelatedList[srvNav.itemRelatedGroup.type]']}">
				<!-- row class required to get sizes for Resize calculations -->
				<div class="c4p-color-gradient0">
					<div class="c4p-color-a-gradient{{$index}}" ng-repeat="card in cards"
                            ng-class="{'first-card': $first}">

						<div class="c4p-card" ng-class="{'row' : $first}">

							<div class="c4p-card-text" ng-class="{'col-xxs-8' : $first}">

								<span ng-repeat="group in card.groups" style="margin: 0; padding: 0;" class="c4p-size-{{group.size}}"  style="display: block;
                                                                /* -webkit-margin-before: 1.67em; 
                                                                -webkit-margin-after: 1.67em; 
                                                                -webkit-margin-start: 0px;
                                                                -webkit-margin-end: 0px;*/">
									<br ng-show="card.brSeparated && ($index > 0)" />
									<span>
										<span ng-show="group.synchro && (srvNav.item.c4p_synchro.creating || srvNav.item.c4p_synchro.writing || srvNav.item.c4p_synchro.reading || srvNav.item.c4p_synchro.deleting)"
											class="glyphicon"
											ng-class="{
		                                        'glyphicon-trash'    : (srvNav.item.c4p_synchro.deleting > 1),
		                                        'glyphicon-times-circle' : (!srvNav.item.c4p_synchro.deleting && (srvNav.item.c4p_synchro.creating > 1)),
		                                        'glyphicon-upload'   : (!srvNav.item.c4p_synchro.deleting && !srvNav.item.c4p_synchro.creating && (srvNav.item.c4p_synchro.writing > 1)),
		                                        'glyphicon-download' : (!srvNav.item.c4p_synchro.deleting && !srvNav.item.c4p_synchro.creating && !srvNav.item.c4p_synchro.writing && (srvNav.item.c4p_synchro.reading > 1)),
		                                        'glyphicon-spinner'  : ((srvNav.item.c4p_synchro.deleting == 1) || (srvNav.item.c4p_synchro.creating == 1) || (srvNav.item.c4p_synchro.writing == 1) || (srvNav.item.c4p_synchro.reading == 1)),
		                                        'icon-spin'          : ((srvNav.item.c4p_synchro.deleting == 1) || (srvNav.item.c4p_synchro.creating == 1) || (srvNav.item.c4p_synchro.writing == 1) || (srvNav.item.c4p_synchro.reading == 1))
		                                      }">
										</span>
										<!-- <span ng-show="group.icon" class="icon-large glyphicon glyphicon-{{group.icon}}" ng-class="{'c4p-icon-calendar-allday':allDayEvent}"> </span> -->
										<span ng-show="group.icon" ng-hide="$first" class="glyphicon glyphicon-{{group.icon}}"></span>
										<span ng-show="group.name">{{itemName}} </span>
										<span ng-show="group.title">{{group.title}} </span>
									</span>

									<span ng-repeat="field in group.fields" class="c4p-size-{{field.size}}">
										<!--<span ng-show="($index > 0)"> </span>-->
										<span ng-show="field.title">{{field.title}} : </span>
										<span ng-show="field.prefix">{{field.prefix}} </span>

										<span ng-switch="field.isArray">
											<span ng-switch-when="true">
												<span ng-repeat="item in field.value">
													<span ng-show="($index > 0) && (field.separator != 'br')">{{field.separator}}</span>

													<br ng-show="($index > 0) && (field.separator == 'br')" />

													<span ng-switch="field.type">
														<span ng-switch-when="tel">
															<a class=" c4p-color-lnk" href="tel:{{item}}" target=_blank>
																<span>{{item}}</span>
															</a>
														</span>

														<span ng-switch-when="mail">
															<a class="c4p-color-lnk" href="mailto:{{item}}" target=_blank>
																<span>{{item}}</span>
															</a>
														</span>

														<span ng-switch-when="url">
															<a class="c4p-color-lnk" href="{{item}}" target=_blank>
																<span>{{item}}</span>
															</a>
														</span>

														<span ng-switch-when="currency">
															<span>{{item | c4pCurrency}}</span>
														</span>

														<span ng-switch-when="percent">
															<span>{{item}}%</span>
														</span>

														<span ng-switch-when="probability">
															<span>{{item}}%</span>
														</span>

														<span ng-switch-when="datetime">
															<span>{{srvLocale.formatDate(item, 'short')}}</span>
														</span>

														<span ng-switch-when="dateTIME">
															<span>{{srvLocale.formatDate(item, 'shortDate')}} <b>{{srvLocale.formatDate(item, 'shortTime')}}</b></span>
														</span>

														<span ng-switch-when="date">
															<span>{{srvLocale.formatDate(item, 'shortDate')}}</span>
														</span>

														<span ng-switch-when="time">
															<span>{{srvLocale.formatDate(item, 'shortTime')}}</span>
														</span>

														<span ng-switch-when="TIME">
															<span><b>{{srvLocale.formatDate(item, 'shortTime')}}</b></span>
														</span>

														<span ng-switch-when="number">
															<span>{{item | c4pNumber}}</span>
														</span>

														<span ng-switch-when="rating">
															<span ng-include="'partials/navigation/cards/4_rating_ro2.html'" style="padding: 0 10px;"></span>
														</span>

														<span ng-switch-default>
															<span>{{item}}</span>
														</span>
													</span>
												</span>
											</span>

											<span ng-switch-default>
												<span ng-switch="field.type">
													<span ng-switch-when="tel">
														<a class="c4p-color-lnk" href="tel:{{field.value}}" target=_blank>
															<span>{{field.value}}</span>
														</a>
													</span>

													<span ng-switch-when="mail">
														<a class="c4p-color-lnk" href="mailto:{{field.value}}" target=_blank>
															<span>{{field.value}}</span>
														</a>
													</span>

													<span ng-switch-when="url">
														<a class="c4p-color-lnk" href="{{field.value}}" target=_blank>
															<span>{{field.value}}</span>
														</a>
													</span>

													<span ng-switch-when="currency">
														<span>{{field.value | c4pCurrency}}</span>
													</span>

													<span ng-switch-when="percent">
														<span>{{field.value}}%</span>
													</span>

													<span ng-switch-when="probability">
														<span>{{field.value}}%</span>
													</span>

													<span ng-switch-when="datetime">
														<span>{{srvLocale.formatDate(field.value, 'short')}}</span>
													</span>

													<span ng-switch-when="dateTIME">
														<span>{{srvLocale.formatDate(field.value, 'shortDate')}} <b>{{srvLocale.formatDate(field.value, 'shortTime')}}</b></span>
													</span>

													<span ng-switch-when="date">
														<span>{{srvLocale.formatDate(field.value, 'shortDate')}}</span>
													</span>

													<span ng-switch-when="time">
														<span>{{srvLocale.formatDate(field.value, 'shortTime')}}</span>
													</span>

													<span ng-switch-when="TIME">
														<span><b>{{srvLocale.formatDate(field.value, 'shortTime')}}</b></span>
													</span>

													<span ng-switch-when="number">
														<span>{{field.value | c4pNumber}}</span>
													</span>

													<span ng-switch-when="rating">
														<span ng-init="item = field.value" ng-include="'partials/navigation/cards/4_rating_ro2.html'" style="padding: 0 10px;"></span>
													</span>

													<span ng-switch-default>
														<span>{{field.value}}</span>
													</span>
												</span>
											</span>
										</span>

										<span ng-show="field.suffix"> {{field.suffix}}</span>
									</span>
								</span>
							</div>

                            <!-- //soon
                            <div c4p-show="isFile && $first && !isVideo" class="btn"
                                 ng-class="{'disabled': actionMap.viewDocument.disabled}"
                                 ng-click="doAction('viewDocument')"
                                 style="background: url('{{srvNav.item.thumb_url}}') no-repeat center center; width: 100%; height: 250px; -webkit-background-size: contain;">
                            </div>
                            <div c4p-show="isVideo && $first" style="text-align: center;">
                                <video controls ng-src="{{item.url}}" style="max-width: 100%; height: auto;"></video>
                            </div>
                            -->



							<div class="c4p-card-thumb" ng-class="{'col-xxs-4' : $first}" c4p-show="$first">
                                <div class="table-responsive">
                                    <table class="table">
                                    <tr><td>
                                        <div class="btn btn-sm pull-right c4p-color-action-transparent"
                                             ng-click="doAction('toggleFavorite')">
                                           <span class=" c4p-icon-std glyphicon c4p-outline-star"
                                                  ng-class="{'glyphicon-star' : isTaggedFavorite(srvNav.item), 'glyphicon-star-o' : !isTaggedFavorite(srvNav.item)}">
                                           </span>
                                        </div>
                                    </td><td width="70px">
                                        <div class="">
                                        <c4p-thumb
                                            width="70" height="70"
                                            text="{{itemName}}" indic="{{itemRelationCount}}"
                                            icon="glyphicon-{{itemIcon}}" color="{{itemColor}}"
                                            url="{{srvNav.item.thumb_url}}">
                                        </c4p-thumb>
                                        </div>
                                    </td></tr>
                                    </table>
                                </div>
							</div>

						</div>
					</div>

					<!-- GoogleMap -->
					<div c4p-show="srvConfig.c4pConfig.exposeGoogleMap && srvRunning.online && google">
						<div class="google-map" center="position.coords"
							zoom="zoomProperty" markers="markersProperty"
							latitude="clickedLatitudeProperty"
							longitude="clickedLongitudeProperty" mark-click="true"
							draggable="true" fit="false" events="eventsProperty"
							style="height: 300px; width: 100%">
						</div>
					</div>
				</div>
			</div>

			<!-- OUTSIDE the scroller zone : Modal droppable zone to activate Link actions -->
			<div ng-show="dndActive" ng-controller="ctrlLinkActions">

				<div style="position: absolute; z-index: 1041; top: 0; left: 0;"
					ng-class="{'c4p-dropzone-active': dndActive, 'c4p-dropzone-active-hover': dropOver}"
					ng-style="{width:getDetailWidth()+'px'}"
					resize-opts="{name:'navigation_detail_link_drop_zone', watchRefresh:['getSensePanelScrollX()', 'srvNav.item.id.dbid']}"
					resizecss-height="getResizePathValue('detailed_item_wrapper', '', 'offsetHeight')"
					sense-opts="{name:'navigation_detail_link_drop_zone'}"
					sense-dndstart="dndStart($event)" sense-dndend="dndEnd($event)"
					sense-dndcancel="dndCancel($event)"
					sense-dropstart="dropStart($event)"
					sense-dropend="dropEnd($event)"
					sense-dropcancel="dropCancel($event)"
					sense-dropoverenter="dropOverEnter($event)"
					sense-dropoverleave="dropOverLeave($event)">

					<div ng-style="{width:getDetailWidth()+'px'}"
						resize-opts="{name:'navigation_detail_link_zone_wrapper', watchRefresh:['getSensePanelScrollX()', 'srvNav.item']}"
						sense-opts="{name:'navigation_detail_link_zone_wrapper', axeY:'scroll', watchRefresh:'srvNav.itemRelatedList'}"
						ng-show="dndActive">

						<div>
							<span>
								{{translate('htmlCardsTextActionAs')}}
								{{srvLocale.translations.htmlShortLinkName[fromLink]}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!--

			<div class="row" style="margin:0;"
			     ng-style="{width:getDetailWidth()+'px'}"
			     resize-opts="{watchRefresh:['srvNav.item', 'srvNav.history.length']}">
			    <footer ng-include="'partials/navigation/footer_detail.html'"></footer>
			</div>

			-->
	</div>
</div>
