<span ng-controller="ctrlDragObject"
     ng-init="init(item)"
     sense-opts="{bubble:true, watchRefresh:['srvNav.item', 'srvNav.holdItem']}"
     sense-short-tap="selectItem()"
     sense-double-tap="selectItemAndCloseAside()"
     sense-hold-start="holdStart()"
     sense-hold-stop="holdStop()"
     sense-long-drag-over-enter="dragOverEnter($event)"
     sense-long-drag-over-leave="dragOverLeave($event)"
     sense-long-drag-start="dragStart($event)"
     sense-long-drag-move="dragMove($event)"
     sense-long-drag-end="dragEnd($event)"
     sense-long-drag-cancel="dragCancel($event)">
    <span ng-include="'partials/navigation/cards/inlined_item.html'"
          ng-class="{'c4p-hover-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableHover, 'c4p-border-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableBorder}"
          style="border-width: 1px;padding:2px;"></span>
</span>
