

    <!-- 
        inputs : 
            cardItem
    -->


<div class="col-xxs-12 c4p-link5"
     ng-controller="ctrlDragObject"
     ng-init="init(cardItem)"
     ng-touch="startSpinner()"
     ng-click="selectItem()">
    <div 
        ng-include="'partials/navigation/cards/detail_card.html'"
         ng-class="{'c4p-hover-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableHover, 'c4p-border-drag':srvNav.item && srvConfig.c4pConfig.exposeDraggableBorder}"
         style="border-width: 1px;padding:2px;"></div>

</div>
