<ul class="nav nav-pills" ng-controller="ctrlInlinedObject" ng-init="init(item)">

   <!-- <li style="
            padding: 0;
            margin: 0;
            line-height: 0;">
        <c4p-thumb width="30" height="30"
            text="{{itemName}}" indic="{{itemRelationCount}}"
            icon="glyphicon-{{itemIcon}}" color="{{itemColor}}"
            url="{{item.thumb_url}}"> test thumb
        </c4p-thumb>
    </li>-->
    <li class="" style="max-width:90%; text-align: left;">
        <span class="a4p-dot">{{itemName}}</span>
    </li>
    <li>
        <!-- To show if pb -->
        <span ng-show="(item.c4p_synchro.creating || item.c4p_synchro.writing || item.c4p_synchro.reading || item.c4p_synchro.deleting)"
              class="glyphicon"
              ng-class="{
            'glyphicon-trash'    : (item.c4p_synchro.deleting > 1),
            'glyphicon-times-circle' : (!item.c4p_synchro.deleting && (item.c4p_synchro.creating > 1)),
            'glyphicon-upload'   : (!item.c4p_synchro.deleting && !item.c4p_synchro.creating && (item.c4p_synchro.writing > 1)),
            'glyphicon-download' : (!item.c4p_synchro.deleting && !item.c4p_synchro.creating && !item.c4p_synchro.writing && (item.c4p_synchro.reading > 1)),
            'glyphicon-spinner'  : ((item.c4p_synchro.deleting == 1) || (item.c4p_synchro.creating == 1) || (item.c4p_synchro.writing == 1) || (item.c4p_synchro.reading == 1)),
            'icon-spin'          : ((item.c4p_synchro.deleting == 1) || (item.c4p_synchro.creating == 1) || (item.c4p_synchro.writing == 1) || (item.c4p_synchro.reading == 1))
        }"></span>
    </li>
</span>
