<div ng-controller="ctrlResumedObject" ng-init="set(item, 'displayResumedObjectGroups')">
    <!-- To have the same starting line as with draggable_summarized_item.html -->
    <div class="row">
        <div class="col-xxs-12 col-sm-6">
            <!-- To show if pb -->
            <span>
                <span ng-show="(item.c4p_synchro.creating || item.c4p_synchro.writing || item.c4p_synchro.reading || item.c4p_synchro.deleting)"
                      class="glyphicon"
                      ng-class="{
                    'glyphicon-trash'    : (item.c4p_synchro.deleting > 1),
                    'glyphicon-remove'   : (!item.c4p_synchro.deleting && (item.c4p_synchro.creating > 1)),
                    'glyphicon-upload'   : (!item.c4p_synchro.deleting && !item.c4p_synchro.creating && (item.c4p_synchro.writing > 1)),
                    'glyphicon-download' : (!item.c4p_synchro.deleting && !item.c4p_synchro.creating && !item.c4p_synchro.writing && (item.c4p_synchro.reading > 1)),
                    'glyphicon-spinner'  : ((item.c4p_synchro.deleting == 1) || (item.c4p_synchro.creating == 1) || (item.c4p_synchro.writing == 1) || (item.c4p_synchro.reading == 1)),
                    'icon-spin'          : ((item.c4p_synchro.deleting == 1) || (item.c4p_synchro.creating == 1) || (item.c4p_synchro.writing == 1) || (item.c4p_synchro.reading == 1))
                }"></span>
                <span ng-show="srvNav.holdItem && (item.id.dbid == srvNav.holdItem.id.dbid)" class="icon-large glyphicon glyphicon-link"></span>
                <span ng-hide="srvNav.holdItem && (item.id.dbid == srvNav.holdItem.id.dbid)" class="icon-large glyphicon glyphicon-{{itemIcon}}" ng-class="{'c4p-icon-calendar-allday':allDayEvent}"></span>
                <span>{{itemName}}</span>
            </span>
        </div>
        <div ng-repeat="group in groups"
             class="col-xxs-12 col-sm-6 c4p-size-{{group.size}} c4p-color-{{group.type}}">
             <!--ng-class="{'c4p-well-a' : group.type == 'a', 'c4p-well-b' : group.type == 'b', 'c4p-well-c' : group.type == 'c', 'c4p-well-d' : group.type == 'd', 'c4p-well-e' : group.type == 'e', 'c4p-well-footer' : group.type == 'footer'}"-->
            <!-- Clear the XS cols if their content doesn't match in height -->
            <div class="clearfix" ng-show="($index%2)==1"></div>
            <span ng-show="group.title">{{group.title}}</span>
            <fieldset>
                <span ng-repeat="field in group.fields"
                      class="c4p-size-{{field.size}}">
                      <!--ng-class="{'c4p-n_1' : field.size == 'bigger', 'c4p-n_2' : field.size == 'big', 'c4p-n_4' : field.size == 'small', 'c4p-n_6' : field.size == 'smaller'}"-->
                    <br ng-show="group.brSeparated && ($index > 0)"/>
                    <span ng-show="field.title">{{field.title}} : </span>
                    <span ng-show="field.prefix">{{field.prefix}} </span>
                    <span ng-switch="field.isArray">
                        <span ng-switch-when="true">
                            <span ng-repeat="item in field.value">
                                <span ng-show="$index > 0">, </span>
                                <span ng-switch="field.type">
                                    <span ng-switch-when="tel"><a href="tel:{{item}}" target=_blank><span>{{item}}</span></a></span>
                                    <span ng-switch-when="mail"><a href="mailto:{{item}}" target=_blank><span>{{item}}</span></a></span>
                                    <span ng-switch-when="url"><a href="{{item}}" target=_blank><span>{{item}}</span></a></span>
                                    <span ng-switch-when="currency"><span>{{item | c4pCurrency}}</span></span>
                                    <span ng-switch-when="percent"><span>{{item}}%</span></span>
                                    <span ng-switch-when="probability"><span>{{item}}%</span></span>
                                    <span ng-switch-when="datetime"><span>{{srvLocale.formatDate(item, 'short')}}</span></span>
                                    <span ng-switch-when="date"><span>{{srvLocale.formatDate(item, 'shortDate')}}</span></span>
                                    <span ng-switch-when="time"><span>{{srvLocale.formatDate(item, 'shortTime')}}</span></span>
                                    <span ng-switch-when="number"><span>{{item | c4pNumber}}</span></span>
                                    <span ng-switch-when="rating"><span ng-include="'partials/navigation/cards/4_rating_ro2.html'" style="padding:0 10px;"></span></span>
                                    <span ng-switch-default><span>{{item}}</span></span>
                                </span>
                            </span>
                        </span>
                        <span ng-switch-default>
                            <span ng-switch="field.type">
                                <span ng-switch-when="tel"><a href="tel:{{field.value}}" target=_blank><span>{{field.value}}</span></a></span>
                                <span ng-switch-when="mail"><a href="mailto:{{field.value}}" target=_blank><span>{{field.value}}</span></a></span>
                                <span ng-switch-when="url"><a href="{{field.value}}" target=_blank><span>{{field.value}}</span></a></span>
                                <span ng-switch-when="currency"><span>{{field.value | c4pCurrency}}</span></span>
                                <span ng-switch-when="percent"><span>{{field.value}}%</span></span>
                                <span ng-switch-when="probability"><span>{{field.value}}%</span></span>
                                <span ng-switch-when="datetime"><span>{{srvLocale.formatDate(field.value, 'short')}}</span></span>
                                <span ng-switch-when="date"><span>{{srvLocale.formatDate(field.value, 'shortDate')}}</span></span>
                                <span ng-switch-when="time"><span>{{srvLocale.formatDate(field.value, 'shortTime')}}</span></span>
                                <span ng-switch-when="number"><span>{{field.value | c4pNumber}}</span></span>
                                <span ng-switch-when="rating"><span ng-init="item = field.value" ng-include="'partials/navigation/cards/4_rating_ro2.html'" style="padding:0 10px;"></span></span>
                                <span ng-switch-default><span>{{field.value}}</span></span>
                            </span>
                        </span>
                    </span>
                    <span ng-show="field.suffix"> {{field.suffix}}</span>
                </span>
            </fieldset>
        </div>
    </div>
</div>
