.iPhoneCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; 
  }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; 
    text-align: center;}

.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iPhoneCheckLabelOn {
  color: white;
  background: url('../img/ios-style-checkboxes/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url('../img/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../img/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('../img/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('../img/ios-style-checkboxes/slider_center.png?1284697268'); }

.iOSCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iOSCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iOSCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iOSCheckLabelOn {
  color: white;
  background: url('../img/ios-style-checkboxes/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iOSCheckLabelOn span {
    padding-left: 8px; }
label.iOSCheckLabelOff {
  color: #8b8b8b;
  background: url('../img/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iOSCheckLabelOff span {
    padding-right: 8px; }

.iOSCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../img/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iOSCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('../img/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iOSCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('../img/ios-style-checkboxes/slider_center.png?1284697268'); }

  
  
  
#lbl_on_off {
	font-weight: bold;
	padding:0;
	margin:5px 10px 0 0;
	color:#666;
	font-size:16px;
}

#lbl_on_off_right{
	color:#CCC;
	float:right;
	font-size:16px;
	padding-left:10px;
	padding-top:5px;
	font-weight:bold;
}



header.navigation-bar {
	position: relative;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	height: 45px;
	padding: 6px 10px;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#b2bbca), 
			color-stop(0.25, #a7b0c3),
			color-stop(0.5, #909cb3), 
			color-stop(0.5, #8593ac), 
			color-stop(0.75, #7c8ba5),
			to(#73839f)); 
	border-top: 1px solid #cdd5df;
	border-bottom: 1px solid #2d3642; 
}
header.navigation-bar.black {
	position: relative;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	height: 45px;
	padding: 6px 10px;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#636363), 
			color-stop(0.25, #424242),
			color-stop(0.5, #202020), 
			color-stop(0.5, #000000)); 
	border-top: 1px solid #858585;
	border-bottom: 1px solid #858585; 
}

/* Bordered Button Styles */

.button.bordered {
	-webkit-box-shadow: 0 1px 1px #9aa5bb, 0 -1px 1px #8e96a5; 
	border: solid 1px #54617d;
	border-color: #484e59 #54617d #4c5c7a #54617d; 
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	font-size: 12px;
	line-height: 28px;
	height: 30px;
	margin-top: 1px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 5px;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#92a1bf), 
			color-stop(0.25, #798aad),
			color-stop(0.5, #6276a0), 
			color-stop(0.5, #556a97), 
			color-stop(0.75, #566c98),
			to(#546993)); 
	color: #fff;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
.button.bordered:hover, .button.bordered.touched {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#7d88a5), 
			color-stop(0.25, #58698c),
			color-stop(0.5, #3a4e78), 
			color-stop(0.5, #253c6a), 
			color-stop(0.75, #273f6d),
			to(#273f6d));
	-webkit-tap-highlight-color: transparent;
}

/* End Bordered Button Styles */

/* Back Bordered Button Styles */


.button.bordered.back {
	padding: 0px 7px 0px 3px;
	margin-left: 10px;
	position: relative;
}
.button.bordered.back > span {
	position: relative;
	z-index: 1;
}
.button.bordered.back > span.pointer {
	z-index: 0;
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#92a1bf), 
			color-stop(0.3, #798aad),
			color-stop(0.51, #6276a0), 
			color-stop(0.51, #556a97), 
			color-stop(0.75, #566c98),
			to(#546993)); 
	border-left: solid 1px #484e59;
	border-bottom: solid 1px #9aa5bb;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 4px;
	height: 23.5px;
	width: 23.5px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-webkit-mask-image: 
		-webkit-gradient(linear, left bottom, right top, 
			from(#000000), 
			color-stop(0.5,#000000), 
			color-stop(0.5, transparent), 
			to(transparent));
	position: absolute;
	left: -9px;
	top: 2.5px;
	-webkit-background-clip: content;
}
.button.bordered.back:hover > span.pointer, .button.bordered.back.touched > span.pointer {
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#7d88a5), 
			color-stop(0.3, #58698c),
			color-stop(0.51, #3a4e78), 
			color-stop(0.51, #253c6a), 
			color-stop(0.75, #273f6d),
			to(#273f6d)); 
}

/* End Back Bordered Button Styles */

/* Next Bordered Button Styles */
/*.button.bordered.next {
	padding: 0px 3px 0px 7px;
	margin-right: 10px;
	position: relative;
}
.button.bordered.next > span {
	position: relative;
	z-index: 1;
}
.button.bordered.next > span.pointer {
	z-index: 0;
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#92a1bf), 
			color-stop(0.3, #798aad),
			color-stop(0.51, #6276a0), 
			color-stop(0.51, #556a97), 
			color-stop(0.75, #566c98),
			to(#546993)); 
	border-right: solid 1px #9aa5bb;
	border-top: solid 1px #484e59;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 4px;         
	height: 23.5px;
	width: 23.5px;
	display: inline-block;
	-webkit-transform: rotate(45deg);
	-webkit-mask-image: 
		-webkit-gradient(linear, right top, left bottom, 
			from(#000000), 
			color-stop(0.5,#000000), 
			color-stop(0.5, transparent), 
			to(transparent));
	position: absolute;
	right: -9px;
	top: 2.5px;
	-webkit-background-clip: content;
}
.button.bordered.next:hover > span.pointer, .button.bordered.next.touched > span.pointer {
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#7d88a5), 
			color-stop(0.3, #58698c),
			color-stop(0.51, #3a4e78), 
			color-stop(0.51, #253c6a), 
			color-stop(0.75, #273f6d),
			to(#273f6d)); 
}*/
/* End Next Bordered Button Styles */

header.navigation-bar.black  .button.bordered {
	-webkit-box-shadow: 0 1px 1px #242424, 0 -1px 1px #323232; 
	border: solid 1px #54617d;
	border-color: #404040 #262626 #404040 #262626; 
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#838383), 
			color-stop(0.5, #444444), 
			color-stop(0.5, #303030), 
			to(#333333)); 
}
header.navigation-bar.black  .button.bordered.back > span.pointer {
	z-index: 0;
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			color-stop(0.05, #838383), 
			color-stop(0.5, #444444), 
			color-stop(0.5, #303030), 
			color-stop(0.98, #333333)); 
	border-left: solid 1px #262626;
	border-bottom: solid 1px #404040;
	top: 2.35px;
}

header.navigation-bar.black  .button.bordered.next > span.pointer {
	z-index: 0;
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			color-stop(0.05, #838383), 
			color-stop(0.5, #444444), 
			color-stop(0.5, #303030), 
			color-stop(0.98, #333333)); 
	border-right: solid 1px #404040;
	border-top: solid 1px #262626;
	top: 2.35px;
}
header.navigation-bar.black  .button.bordered:hover, header.navigation-bar.black  .button.bordered.touched {
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#444444), 
			color-stop(0.5, #333333),
			color-stop(0.5, #404040),
			to(#194fdb));
	-webkit-tap-highlight-color: transparent;
}
header.navigation-bar.black  .button.bordered.back:hover > span.pointer, header.navigation-bar.black  .button.back.touched > span.pointer, header.navigation-bar.black  .button.bordered.next:hover > span.pointer, header.navigation-bar.black  .button.next.touched > span.pointer {
	background-image: 
		-webkit-gradient(linear, left top, right bottom, 
			from(#444444), 
			color-stop(0.5, #333333),
			color-stop(0.5, #404040),
			to(#194fdb));
}
  