<!doctype html>
<html>
<head>
    <title>Test of file upload</title>
    <style>
        .error {
            background-color: red;
        }

        .good {
            background-color: lightgreen;
        }
    </style>
</head>
<body ng-app="c4p">
<div ng-controller="ClickCtrl">
    <h1>Choose the server to test</h1>
    <select ng-model="urlBase">
        <option value="https://127.0.0.1/c4p_server/www" selected=''>Localhost</option>
        <option value="https://192.168.1.9/c4p_server/www">PC Cyrille Home</option>
        <option value="https://192.168.0.21/c4p_server/www">PC Cyrille Pro</option>
        <option value="https://192.168.0.10/c4p_server/www">PC Mathieu</option>
        <option value="https://192.168.0.15/c4p_server/www">PC Herve</option>
        <option value="https://192.168.0.12/c4p_server/www">PC Jordan</option>
        <option value="https://192.168.0.11/c4p_server/www">PC Cedric</option>
        <option value="https://192.168.0.26/c4p_server/www">PC Jenkins</option>
        <option value="https://apps4pro.net/s2">Dev Server</option>
        <option value="https://ssl15.ovh.net/~appspro/c6">Prod Server</option>
    </select>{{urlBase}}

    <h1>Choose the max size of file parts sent by network</h1>
    <select ng-model="filePartSize">
        <option value="10" selected=''>10</option>
        <option value="100">100</option>
        <option value="1000">1 k</option>
        <option value="10000">10 k</option>
        <option value="100000">100 k</option>
        <option value="1000000">1 M</option>
        <option value="10000000">10 M</option>
    </select>{{filePartSize}}

    <h1>Upload</h1>
    <!-- Le type d'encodage des données, enctype, DOIT être spécifié comme ce qui suit -->
    <form enctype="multipart/form-data" action="{{urlBase}}/c4p_uploadFileTest.php" method="post">
        <!-- MAX_FILE_SIZE doit précéder le champ input de type file -->
        <input type="hidden" name="MAX_FILE_SIZE" value="30000000"/>
        <!-- Le nom de l'élément input détermine le nom dans le tableau $_FILES -->
        Envoyez ce fichier : <input id="file" name="file" type="file"/>
        <!--<input id="file" name="file" type="file" multiple />-->
        <!-- multiple does not work on Android -->

        <input type="hidden" name="fileUid" value="FILE-00001"/>

        <div id="prev"></div>
        <input type="submit" value="send file via browser"/>
    </form>
    <div>
        File name = {{fileInfo.name}} size = {{fileInfo.data.length}} md5 = {{fileInfo.md5}}
        <br/>
        <button ng-click="sendFile()">send file via $http</button>
        <br/>Started at {{sendingStatus.begDate}}
        <br/>Stopped at {{sendingStatus.endDate}}
        <br/>Duration : {{(sendingStatus.endDate - sendingStatus.begDate)/1000}} s
        <ul>
            <li ng-repeat="status in sendingStatus.log">{{status}}</li>
        </ul>
        <div ng-class="{'error':fileInfo.md5 != result.md5,'good':fileInfo.md5 == result.md5}">
            log:{{result.log}}
            <br/>
            type:{{result.type}}
            <br/>
            name:{{result.name}}
            <br/>
            size:{{result.size}}
            <br/>
            error:{{result.error}}
            <br/>
            errorName:{{result.errorName}}
            <br/>
            dirPath:{{result.dirPath}}
            <br/>
            rootName:{{result.rootName}}
            <br/>
            extension:{{result.extension}}
            <br/>
            fullPath:{{result.fullPath}}
            <br/>
            md5:{{result.md5}}
            <br/>
            fileUid:{{result.fileUid}}
            <br/>
        </div>
    </div>
    <h1>Download</h1>
    <a href="{{urlBase}}/c4p_downloadFileTest.php">download a jpeg file of 591 bytes via
        browser</a>

    <div>
        <button ng-click="recvFile()">download a jpeg file of 591 bytes with md5={{recvMd5}} via $http</button>
        <br/>{{recvingStatus}}
        <div ng-class="{'error':fileRecv.md5 != recvMd5,'good':fileRecv.md5 == recvMd5}">
            File bytesSize = {{fileRecv.bytes.length}} stringSize = {{fileRecv.data.length}} md5 = {{fileRecv.md5}}
        </div>
    </div>
    <h1>Error</h1>
    <a href="{{urlBase}}/c4p_fatalErrorTest.php">trigger a simple error on the server</a>
    <br/>
    <a href="{{urlBase}}/c4p_fatalErrorTest.php?errorType=exception">trigger an exception error on
        the server</a>
    <br/>
    <a href="{{urlBase}}/c4p_fatalErrorTest.php?errorType=fatal">trigger a fatal error on the
        server</a>
</div>

<script language="javascript">
    var fileInput = document.querySelector('#file');
    var prev = document.querySelector('#prev');
    var fileInfo = {
        name: '',
        data: '',
        md5: ''
    };
    var fileRecv = {
        bytes: '',
        data: '',
        md5: ''
    };

    function ClickCtrl($scope, $http) {
        $scope.filePartSize = 100000;
        $scope.urlBase = 'https://127.0.0.1/c4p_server/www';
        $scope.fileInfo = fileInfo;
        $scope.fileRecv = fileRecv;
        $scope.recvMd5 = '03dac6bc3e5830ff0e65e666e4968eaf';
        $scope.result = {};
        $scope.sendingStatus = {begDate:new Date(), endDate:new Date(), log:[]};
        $scope.recvingStatus = '';
        $scope.sendFile = function () {
            $scope.sendingStatus.begDate = new Date();
            $scope.sendingStatus.endDate = new Date();
            $scope.sendingStatus.log = [];
            $scope.result = {};
            console.log('sendFile() du fichier "' + $scope.fileInfo.name + '" : size=' + $scope.fileInfo.data.length + '" : md5=' + $scope.fileInfo.md5);// 591 bytes for icone16.jpg
            var utf8String = a4p.Utf8.encodeToUint8Array(fileInfo.data);
            console.log('sendFile() du fichier "' + $scope.fileInfo.name + '" : utf8 size=' + utf8String.length);// 661 bytes for icone16.jpg
            console.log('sendFile() du fichier "' + $scope.fileInfo.name + '" : mimetype=' + c4p.Model.fileFirstMimetype($scope.fileInfo.name));// image/jpeg for icone16.jpg
            var params = {fileUid: "FILE-00001", MAX_FILE_SIZE: "30000000"};
            if ($scope.fileInfo.data.length > $scope.filePartSize) {
                var nb = Math.ceil($scope.fileInfo.data.length / $scope.filePartSize);
                $scope.sendPartFile(params, 1, nb, 1);
                $scope.sendingStatus.log.push('sending ' + nb + ' requests');
            } else {
                $scope.sendPartFile(params, 1, 1, 1);
                $scope.sendingStatus.log.push('sending 1 request');
            }
        };
        $scope.sendPartFile = function (params, idx, nb, nbTry) {
            params.idx = idx;
            params.nb = nb;
            // BEWARE : does not work if nb < $scope.fileInfo.data.length (sending empty file must not be done)
            var trunkSize = Math.ceil($scope.fileInfo.data.length / nb);
            var begOffset = (idx - 1)*trunkSize;
            if ((begOffset + trunkSize) > $scope.fileInfo.data.length) {
                trunkSize = $scope.fileInfo.data.length - begOffset;
            }
            var partData = $scope.fileInfo.data.substr(begOffset, trunkSize);
            var partMd5 = calcMD5(partData);
            var n = 1;
            var boundary = '----sendFileBoundary';
            while (partData.indexOf(boundary + n) >= 0) n++;
            boundary = boundary + n;
            var headers = {
                "Content-Type": "multipart/form-data; boundary=" + boundary
            };
            var body = "";
            /*
             if (params != null) {
             for (var paramKey in params) {
             if (!params.hasOwnProperty(paramKey)) continue;
             body += "--" + boundary + "\r\nContent-Disposition: form-data"
             + "; name=\"" + encodeURIComponent(paramKey) + "\""
             + "\r\n\r\n" + encodeURIComponent(params[paramKey])+ "\r\n";
             }
             }
             */
            body += "--" + boundary + "\r\nContent-Disposition: form-data"
                    + "; name=\"" + encodeURIComponent('file') + "\""
                    + "; filename=\"" + encodeURIComponent($scope.fileInfo.name) + "\""
                    + "\r\nContent-Type: " + c4p.Model.fileFirstMimetype($scope.fileInfo.name)
                    + "\r\n\r\n" + partData + "\r\n";
            body += "--" + boundary + "--\r\n";
            var len = body.length;
            // XHR transforms data as utf8 instead of binary => we must use a Uint8Array to keep binary data
            var byteArray = new Uint8Array(len);
            for (var i = 0; i < len; i++) {
                byteArray[i] = body.charCodeAt(i) & 0xff;
            }
            var urlData = {
                method: 'POST',
                url: $scope.urlBase + '/c4p_uploadFileTest.php',
                headers: headers,
                params: params,
                data: byteArray,
                transformRequest: angular.identity
            };
            urlData.timeout = 20000;
            var fctOnHttpSuccess = function (response) {
                console.log('File upload success for ' + $scope.fileInfo.name + ' : '
                        + 'response=' + a4pDumpData(response.data, 1) + " (status=" + response.status + ")");
                if (1 < nb) {
                    if (idx < nb) {
                        if (partMd5 == response.data.md5) {
                            a4p.safeApply($scope, function() {
                                $scope.sendingStatus.log.push('send ' + idx + '/' + nb + ' success (status=' + response.status + ') client md5=' + partMd5 + ', server md5=' + response.data.md5);
                            });
                            idx++;
                            $scope.sendPartFile(params, idx, nb, 1);
                        } else {
                            if (nbTry < 5) {
                                nbTry++;
                                $scope.sendingStatus.log.push('md5 mismatch => send retry');
                                $scope.sendPartFile(params, idx, nb, nbTry);
                            } else {
                                a4p.safeApply($scope, function() {
                                    $scope.result = response.data;
                                    $scope.sendingStatus.endDate = new Date();
                                    $scope.sendingStatus.log.push('send failure : md5 mismatch => file integrity compromised');
                                });
                            }
                        }
                    } else {
                        if (fileInfo.md5 == response.data.md5) {
                            a4p.safeApply($scope, function() {
                                $scope.result = response.data;
                                $scope.sendingStatus.endDate = new Date();
                                $scope.sendingStatus.log.push('send ' + idx + '/' + nb + ' success (status=' + response.status + ') client md5=' + fileInfo.md5 + ', server md5=' + response.data.md5);
                            });
                        } else {
                            if (nbTry < 5) {
                                nbTry++;
                                $scope.sendingStatus.log.push('md5 mismatch => send retry');
                                $scope.sendPartFile(params, idx, nb, nbTry);
                            } else {
                                a4p.safeApply($scope, function() {
                                    $scope.result = response.data;
                                    $scope.sendingStatus.endDate = new Date();
                                    $scope.sendingStatus.log.push('send failure : md5 mismatch => file integrity compromised');
                                });
                            }
                        }
                    }
                } else {
                    a4p.safeApply($scope, function() {
                        $scope.result = response.data;
                        $scope.sendingStatus.endDate = new Date();
                        $scope.sendingStatus.log.push('send success (status=' + response.status + ') client md5=' + fileInfo.md5 + ', server md5=' + response.data.md5);
                    });
                }
            };
            var fctOnHttpError = function (response) {
                //response.data, response.status, response.headers
                console.log('File upload failure for ' + $scope.fileInfo.name + ' : '
                        + 'response=' + response.data + " (status=" + response.status + ")");
                if (nbTry < 5) {
                    nbTry++;
                    $scope.sendingStatus.log.push('http error (status=' + response.status + ') ' + response.data + ' => send retry');
                    $scope.sendPartFile(params, idx, nb, nbTry);
                } else {
                    a4p.safeApply($scope, function() {
                        $scope.result = response.data;
                        $scope.sendingStatus.endDate = new Date();
                        $scope.sendingStatus.log.push('send failure (status=' + response.status + ') ' + response.data);
                    });
                }
            };
            //$http(urlData).then(fctOnHttpSuccess, fctOnHttpError);
            a4p.promiseWakeup($scope, $http(urlData), fctOnHttpSuccess, fctOnHttpError);
        };
        $scope.recvFile = function () {
            $scope.recvingStatus = '';
            fileRecv.bytes = '';
            fileRecv.data = '';
            fileRecv.md5 = '';
            var urlData = {
                method: 'GET',
                responseType: "arraybuffer",
                transformResponse: angular.identity,
                url: $scope.urlBase + '/c4p_downloadFileTest.php'
            };
            urlData.timeout = 20000;
            var fctOnHttpSuccess = function (response) {
                // response.data is an ArrayBuffer because we use config.responseType == "arraybuffer"
                fileRecv.bytes = new Uint8Array(response.data);
                fileRecv.data = String.fromCharCode(fileRecv.bytes);
                fileRecv.md5 = calcMD5(fileRecv.data);
                var len = fileRecv.data.byteLength;
                console.log('File download success : '
                        + 'response.data.length=' + response.data.byteLength + ' ' + fileRecv.bytes.length + ' response.length=' + fileRecv.data.length + ' md5=' + fileRecv.md5 + " (status=" + response.status + ")");
                a4p.safeApply($scope, function() {
                    $scope.recvingStatus = 'recv success (status=' + response.status + ') ' + fileRecv.bytes.length + ' bytes, md5=' + fileRecv.md5;
                });
            };
            var fctOnHttpError = function (response) {
                //response.data, response.status, response.headers
                console.log('File download failure : '
                        + 'response=' + response.data + " (status=" + response.status + ")");
                a4p.safeApply($scope, function() {
                    $scope.recvingStatus = 'recv failure (status=' + response.status + ') ' + response.data;
                });
            };
            //$http(urlData).then(fctOnHttpSuccess, fctOnHttpError);
            a4p.promiseWakeup($scope, $http(urlData), fctOnHttpSuccess, fctOnHttpError);
            $scope.recvingStatus = 'sending request';
        };
    }

    fileInput.onchange = function () {

        var files = this.files;
        var filesLen = files.length;
        var allowedTypes = ['png', 'jpg', 'jpeg', 'gif']

        for (var i = 0; i < filesLen; i++) {
            (function readFile2(file) {
                var reader = new FileReader();
                reader.onload = function () {
                    alert('readAsBinaryString() du fichier "' + file.name + '" : size=' + this.result.length);
                    fileInfo.data = this.result;
                    fileInfo.name = file.name;
                    fileInfo.md5 = calcMD5(fileInfo.data);
                    var c4pScope = angular.element('body').scope();
                    a4p.safeApply(c4pScope);
                };
                reader.readAsBinaryString(file);
            })(files[i]);

            // Previsualisation de fichier image
            var fileNames = files[i].name.split('.');
            var fileExt = fileNames[fileNames.length - 1];
            if (allowedTypes.indexOf(fileExt) != -1) {
                reader = new FileReader();
                reader.onload = function () {
                    var imgElement = document.createElement('img');
                    imgElement.style.maxWidth = '150px';
                    imgElement.style.maxHeight = '150px';
                    imgElement.src = this.result;
                    prev.appendChild(imgElement);
                };
                reader.readAsDataURL(files[i]);
            }
        }
    };
</script>

<!-- Load jQuery BEFORE Angular otherwise Angular loads its own JQuery lite version -->
<script type="text/javascript" src="../l4p/libs/js/jquery/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.log.js"></script>
<script type="text/javascript" src="../js/a4p/appcache.js"></script>
<script type="text/javascript" src="../l4p/libs/js/angular/angular.1.1.4.js"></script>
<script type="text/javascript" src="../l4p/libs/js/angular/angular-resource.min.1.1.4.js"></script>
<script type="text/javascript" src="../l4p/libs/js/angular/ui-bootstrap-tpls-0.5.0-c4p.js"></script>

<!-- Google Map -->
<!--
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&language=en"></script>
-->
<script type="text/javascript" src="../js/directive/angular-google-maps.js"></script>

<!-- JS libs -->
<script type="text/javascript" src="../l4p/libs/js/iscroll-a4p-patched.js"></script>
<script type="text/javascript" src="../l4p/libs/js/ga.js"></script>
<script type="text/javascript" src="../l4p/libs/js/bootstrap.js"></script>
<script type="text/javascript" src="../l4p/libs/js/md5.js"></script>

<script type="text/javascript" src="../l4p/src/js/a4p/a4p.all.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.array.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.perf.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.file.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.analytics.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.storage.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.stringFormat.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.hex.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.utf8.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.base64.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.sha1.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.aes.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.json.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.xml.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.taskReceiver.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.taskSender.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.moveDrawer.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.moveInterpolator.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.bezierDrawer.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.bezierInterpolator.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.gestureDrawer.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.gestureInterpolator.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.pointSampler.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.browser.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.resize.js"></script>
<script type="text/javascript" src="../l4p/src/js/a4p/a4p.sense.js"></script>
<script type="text/javascript" src="../l4p/src/js/c4p/c4p.model.js"></script>

<!-- App -->
<script type="text/javascript" src="../models/c4p_locale.js"></script>
<script type="text/javascript" src="../models/c4p_demo.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlAddDialogObject.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlAddAccount.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlAddContact.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlAddRatings.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlDialogConfirm.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlDialogDemoMode.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlDialogICal.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlDupMeeting.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogEmail.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogErrorReport.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogFeed.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogFeedback.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogNote.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlEditDialogObject.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlFacetSelectedDialog.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlGoToMeetingDialog.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlGuiderDialog.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlInitDialogPinCode.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlModifyDialogPinCode.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlOpenDialogLocked.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlSelectCrmsDialog.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlSelectObjectsDialog.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlShowImage.js"></script>
<script type="text/javascript" src="../js/controller/dialog/ctrlTimeline.js"></script>
<script type="text/javascript" src="../js/controller/ctrlAction.js"></script>
<script type="text/javascript" src="../js/controller/ctrlAside.js"></script>
<script type="text/javascript" src="../js/controller/ctrlCalendar.js"></script>
<script type="text/javascript" src="../js/controller/ctrlConfig.js"></script>
<script type="text/javascript" src="../js/controller/ctrlDetail.js"></script>
<script type="text/javascript" src="../js/controller/ctrlDetailedObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlDetailLink.js"></script>
<script type="text/javascript" src="../js/controller/ctrlDragObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlEditObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlInlinedObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlLinkActions.js"></script>
<script type="text/javascript" src="../js/controller/ctrlMeeting.js"></script>
<script type="text/javascript" src="../js/controller/ctrlMeetingElementDrag.js"></script>
<script type="text/javascript" src="../js/controller/ctrlMeetingElementDrop.js"></script>
<script type="text/javascript" src="../js/controller/ctrlMeetingObjLinkDrop.js"></script>
<script type="text/javascript" src="../js/controller/ctrlMeetingRemoveDrop.js"></script>
<script type="text/javascript" src="../js/controller/ctrlNamedObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlNavigation.js"></script>
<script type="text/javascript" src="../js/controller/ctrlNavObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlResponsive.js"></script>
<script type="text/javascript" src="../js/controller/ctrlResumedObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlTimeline.js"></script>
<script type="text/javascript" src="../js/controller/ctrlTrashObject.js"></script>
<script type="text/javascript" src="../js/controller/ctrlViewer.js"></script>
<script type="text/javascript" src="../js/directive/accordion.js"></script>
<script type="text/javascript" src="../js/directive/all.js"></script>
<script type="text/javascript" src="../js/directive/carousel.js"></script>
<script type="text/javascript" src="../js/directive/fields.js"></script>
<script type="text/javascript" src="../js/directive/inputs.js"></script>
<script type="text/javascript" src="../js/directive/navigation.js"></script>
<script type="text/javascript" src="../js/directive/timeline.js"></script>
<script type="text/javascript" src="../js/directive/viewer.js"></script>
<script type="text/javascript" src="../js/service/srvConfig.js"></script>
<script type="text/javascript" src="../js/service/srvData.js"></script>
<script type="text/javascript" src="../js/service/srvDataTransfer.js"></script>
<script type="text/javascript" src="../js/service/srvFacet.js"></script>
<script type="text/javascript" src="../js/service/srvFileTransfer.js"></script>
<script type="text/javascript" src="../js/service/srvGuider.js"></script>
<script type="text/javascript" src="../js/service/srvLink.js"></script>
<script type="text/javascript" src="../js/service/srvLoad.js"></script>
<script type="text/javascript" src="../js/service/srvLocale.js"></script>
<script type="text/javascript" src="../js/service/srvLog.js"></script>
<script type="text/javascript" src="../js/service/srvModel.js"></script>
<script type="text/javascript" src="../js/service/srvNav.js"></script>
<script type="text/javascript" src="../js/service/srvOpenUrl.js"></script>
<script type="text/javascript" src="../js/service/srvRunning.js"></script>
<script type="text/javascript" src="../js/service/srvSecurity.js"></script>
<script type="text/javascript" src="../js/service/srvSynchro.js"></script>
<script type="text/javascript" src="../js/service/srvTime.js"></script>
<script type="text/javascript" src="../js/service/srvModel.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/filters.js"></script>

</body>
</html>
