<div ng-include="'partials/navigation/calendar_header.html'"
       class="c4p-color-gradient0">
</div>
<div class="row c4p-color-a-gradient4">
    <!-- row class required to put footer in another line below or else sizes are not good for Resize calculations -->
    <article class="col-xxs-12 ng-cloak" ng-switch on="calendarView" >
        <!-- Day View -->
        <div ng-switch-when="dayView" 	ng-include="'partials/navigation/calendar_day.html'"></div>

        <!-- List View -->
        <div ng-switch-when="listView" 	ng-include="'partials/navigation/calendar_events.html'"></div>

        <!-- Month View -->
        <div ng-switch-default 			ng-include="'partials/navigation/calendar_month.html'"></div>

    </article>

</div>

<!-- REMOVED FOOTER
<div class="row" style="margin:0;"
     ng-style="{width:(getMainWidth() + getAsideWidth())+'px'}"
     resize-opts="{watchRefresh:['srvNav.item', 'srvNav.history.length']}">
    <footer ng-include="'partials/navigation/footer_detail.html'"></footer>
</div>
-->