<!-- Movable zone -->
<div ng-controller="ctrlAside">

    <!-- ### left toolbar ### -->
    <div class="c4p-ltr"
        ng-style="{height:getResizeHeight()+'px', width:(getToolbarWidth())+'px'}">
        <div id=""
             ng-style="{height:getResizeHeight()+'px', width:(getAsideWidth()+ getToolbarWidth())+'px'}"
             resize-opts="{name:'navigation_ctrlAside'}"
             ng-include="'partials/navigation/aside_root.html'">
        </div>
    </div>

    <div class="c4p-ltr c4p-click-through c4p-animate-switch-slide-container"
         ng-style="{height:(getResizeHeight() - 40)+'px'}"
         style="z-index: 3; width: 0px"
         ng-switch on="rootMenuUp">
        <div ng-switch-when="false"
             class="c4p-click-intercepted c4p-animate-switch-slide"
             ng-style="{height:(getResizeHeight() - 40)+'px', width:getAsideWidth()+'px'}">
             <div ng-include="'partials/navigation/aside_search.html'"></div>
        </div>
    </div>

    <!-- ### middle panel ### -->
    <div class="c4p-ltr c4p-click-through"
        ng-style="{height:(getResizeHeight() - 0)+'px', width:getCentralContainerWidth()+'px'}"
        resize-opts="{name:'navigation_ctrlPanelMove'}"
        sense-opts="{name:'navigation_ctrlPanelMove', axeX:'scroll', init:'setSensePanel($sense);'}"
        sense-scrollopts="{scrollbarClass:'c4p-scrollbar', hScrollbar : false, x:getPanelX(), momentum: 0}"
        sense-afterscrollend="onPanelAfterScrollEnd($x, $y)"
        style="z-index: 5;">
        <div resize-opts="{name:'navigation_panel_scroller'}"
             ng-style="{height:(getResizeHeight() - 0)+'px', width:(getAsideWidth() + getDetailWidth() + getRelatedWidth())+'px'}">

                <div id="a4pAside"
                     class="c4p-ltr c4p-click-through"
                     ng-style="{height:(getResizeHeight() - 40)+'px', width:getAsideWidth()+'px'}"
                     resize-opts="{name:'navigation_translucent'}">
                    <div ng-include="'partials/navigation/translucent_panel.html'">
                    </div>
                </div>

                <div id="a4pPage" class="c4p-ltr c4p-click-intercepted">
                    <div ng-switch on="getSlideFromNavIndex()" class="c4p-animate-switch-container">
                        <div ng-switch-when="config" class="c4p-animate-switch">
                            <div ng-controller="ctrlConfig"
                                 ng-include="'partials/navigation/config.html'"
                                 ng-style="{height:getResizeHeight()+'px', width:(getMainWidth() + getAsideWidth())+'px'}">
                            </div>
                        </div>
                        <div ng-switch-when="calendar" class="c4p-animate-switch">
                            <div ng-controller="ctrlCalendar"
                                 ng-include="'partials/navigation/calendar.html'"
                                 ng-style="{height:getResizeHeight()+'px', width:(getMainWidth() + getAsideWidth())+'px'}">
                            </div>
                        </div>
                        <div ng-switch-default class="c4p-animate-switch">
                            <div ng-controller="ctrlDetail"
                                 ng-include="'partials/navigation/view_n.html'"
                                 ng-style="{height:getResizeHeight()+'px', width:(getDetailWidth() + getRelatedWidth())+'px'}">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- ### right toolbar ### -->
    <!-- Hidden in portrait mode  ng-hide="isOnePageFormat()" -->
    <div class="c4p-ltr c4p-toolbar"
         ng-hide="isOnePageFormat()"
         ng-style="{height:getResizeHeight()+'px', width:(getToolbarWidth())+'px'}"
         resize-opts="{name:'right_toolbar'}"
         style="box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);z-index: 6;">

            <div class="c4p-toolbar-header c4p-color-a-gradient1"
                 resize-opts="{name:'right_toolbar_header'}"
                 ng-show="(getSlideFromNavIndex() != 'calendar')">
                <div class="btn c4p-color-action-transparent c4p-padding-w-packed" 
                     ng-click="toggleNavRelated()">
                    <span class="c4p-icon-std glyphicon glyphicon-link"></span>
                </div>
            </div>

            <div class="c4p-color-a-gradient2 row"
                 sense-opts="{name:'right_toolbar_wrapper', axeY:'scroll', watchRefresh:['srvNav.item', 'srvNav.itemRelatedGroupList']}"
                 sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}"
                 resize-opts="{name:'right_toolbar_wrapper'}"
                 resizecss-height="getResizeHeight() - getResizePathValue('right_toolbar_header', '', 'offsetHeight')">
                <div class="col-xxs-12" 
                    resize-opts="{name:'right_toolbar_scroller', watchRefresh:['srvNav.item', 'srvNav.itemRelatedGroupList']}">


                    <!-- suggestions -->
                    <div ng-click="setNavRelated(true);setShowGroupSuggestion(true);setLinksScrollerPageY(0); "
                        ng-show="(getSlideFromNavIndex() != 'calendar')">
                        <div class="c4p-color-j-dark-iii" ng-style="{width:getSliderWidth()+'px'}">
                            <div class="c4p-related-square-icon">
                                <span class="c4p-icon-std glyphicon glyphicon-ellipsis-h"></span>
                            </div>
                            <div class="c4p-related-square-text"><span>&nbsp;</span></div>
                        </div>
                    </div>
                    
                    <!-- the related infos -->
                    <div ng-repeat="group in srvNav.itemRelatedGroupList" 
                         ng-show="group.type != 'Plan' && group.type != 'Facet'"
                         ng-class="{'active': linksPageY == $index}"
                         ng-click="setNavRelated(true);setShowGroup(group, true);setLinksScrollerPageY($index); ">
                        <div class="c4p-color-{{group.colorType}}-dark-iii" ng-style="{width:getSliderWidth()+'px'}">
                            <div class="c4p-related-square-icon">
                                <span class="c4p-icon-std glyphicon glyphicon-{{group.icon}}"></span>
                            </div>
                            <div class="c4p-related-square-text"><span>{{group.size}}</span></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
