<!-- controller is ctrlDetail -->
<div class="c4p-color-a-gradient2"
     resize-opts="{name:'detailed_links_header'}">

    <!--
    <div class="btn c4p-color-action-transparent"
         ng-click="setNavRelated(false)" ng-show="isOnePageFormat()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    -->
    <div class="c4p-header-related c4p-color-a-gradient2"
         style="display: inline-block">

        <div class="btn c4p-padding-w-packed" ng-hide="linkStateAdd">
            <span class="">{{translate('htmlViewNrelatedPageTitle')}}</span>
        </div>
        <div class="btn c4p-padding-w-packed" ng-show="linkStateAdd">
            <span class="">{{translate('htmlViewNrelatedPageTitleNew')}}</span>
        </div>

        <!-- ATTENTION: Next line use for vertical align -->
        <!-- Sync all icon-Xx value in this file to keep alignment -->
        <div class="btn c4p-v-spacer">
            <div class="c4p-icon-std glyphicon">&nbsp;</div>
        </div>
    </div>
<!--
    <div class="btn c4p-padding-w-packed pull-right" ng-hide="linkStateAdd" ng-click="toggleLinkStateAdd()">
        <span class="c4p-icon-std glyphicon glyphicon-plus c4p-color-action-transparent"></span>
    </div>
-->
    <div class="btn c4p-padding-w-packed c4p-color-action-transparent pull-right" ng-show="linkStateAdd"
         ng-click="toggleLinkStateAdd()">
        <span class="c4p-icon-std glyphicon glyphicon-remove"></span>
    </div>
</div>


<div class="row c4p-color-a-gradient1">
    <!-- row class required to put footer in another line below or else sizes are not good for Resize calculations -->
    <article class="col-xxs-12 ng-cloak" ng-switch on="linkStateAdd">
        <div ng-switch-when="true" ng-include="'partials/navigation/view_np1_link_editor.html'"></div>
        <div ng-switch-default ng-include="'partials/navigation/view_np1_links_item.html'"></div>
    </article>
</div>
