<div ng-controller="ctrlConfig" class="vertical-container">
	<div class="vertical-align">
		<!-- first column - login form -->
		<div class="row">
			<h3 class="col-xxs-12 col-xs-offset-3 col-xs-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
		</div>

		<form class="form-horizontal" name="loginForm" novalidate ng-submit="c4pConnection();" autocomplete="off">
			<div class="form-group row" ng-class="{'has-error':(loginForm.email.$dirty && loginForm.email.$invalid)}">
				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<span ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
						<span class="help-inline c4p-field-error-message" ng-show="loginForm.email.$error.required">{{formError('htmlErrorRequired', ['htmlFormEmail'])}}</span>
						<span class="help-inline c4p-field-error-message" ng-show="loginForm.email.$error.email">{{formError('htmlErrorEmailFormat', ['htmlFormEmail'])}}</span>
					</span>
				</div>

				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<input ng-model="email" type="email" id="email" name="email"
						class="form-control"
						placeholder="{{translate('htmlFormEmailPlaceHolder')}}" required />
				</div>
			</div>

			<div class="form-group row" ng-class="{'has-error':(loginForm.password.$dirty && loginForm.password.$invalid)}">
				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
						<span class="help-inline c4p-field-error-message" ng-show="loginForm.password.$error.required">{{formError('htmlErrorRequired', ['htmlFormPassword'])}}</span>
					</span>
				</div>

				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<input ng-model="password" type="password" id="password" name="password"
					class="form-control"
					placeholder="{{translate('htmlFormPasswordPlaceHolder')}}" required />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<label class="checkbox white">
						<input id="rememberPassword" type="checkbox" ng-model="rememberPassword" />{{translate('htmlGuiderFormStaySignedIn')}}
					</label>
				</div>
			</div>

			<div class="row">
				<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary col-xxs-12 col-xs-offset-3 col-xs-4">{{translate('htmlButtonLogin')}}</button>
				<a class="btn btn-link white col-xxs-12 text-center col-xs-2" ng-click="gotoSlide(pageGuider, slideGuiderRequestPassword)">
					<small> {{translate('htmlButtonPasswordForgotten')}} </small>
				</a>
			</div>
		</form>
	</div>
</div>
