
<ul class="nav nav-pills"  resize-opts="{name:'guider_footer'}">
	<li ng-click="doubleSetDemo(true)">
		<div class="btn btn-link">
			<span style="color: grey;font-size: 50%;">
			    <span app-version></span><span> {{srvConfig.c4pBuildDate}} {{srvConfig.env}}</span>
			    <span ng-show="srvConfig.c4pConfig.exposeBetaFunctionalities">Beta</span>
			</span>
		</div>
	</li>
	<li class="pull-right">
		<a class="btn pull-right" ng-click="openDialogSendFeedbackReport('Login Feedback')" ng-hide="getInputFocusState()">
			<span class="c4p-icon-std glyphicon glyphicon-question"></span>
		</a>
	</li>
</ul>
