<div class="login-body">
    <header ng-include="'partials/guider/header.html'" class="opacity-black-65"></header>
    <div id="a4pPage" class="opacity-black-65">
        <div
             resize-opts="{name:'guider_index_a4pPage_scroll_container'}"
             resize-css-height="getResizePathValue('index_body', '', 'offsetHeight') -getResizePathValue('guider_header', '', 'offsetHeight') -getResizePathValue('guider_footer', '', 'offsetHeight')"
             sense-opts="{name:'guider_index', axeY:'scroll', watchRefresh:'slide'}"
             sense-scroll-opts="{scrollbarClass:'c4p-scrollbar'}">
            <div ng-include="'partials/guider/'+ getSlideFromGuider() +'.html'" style="height:100%;"/>
        </div>
    </div>
    <footer ng-include="'partials/guider/footer.html'" class="opacity-black-65"></footer>
</div>
