<div ng-controller="ctrlConfig" class="c4p-vertical-container">
	<div class="c4p-vertical-align">
		<!-- first column - login form -->
		<div class="row">
			<h3 class="col-xxs-12 col-sm-offset-3 col-sm-6 text-center white login-header">
				{{translate('htmlGuiderPageTitle')}}
			</h3>
		</div>

		<form class="form-horizontal" name="loginForm" novalidate>
			<div class="form-group row"><!-- ng-class="{'has-error': loginForm.$invalid}" -->
				
				<div class="col-xxs-12 col-sm-offset-3 col-sm-6">
						<input
							type="mail"
							class="form-control"
							ng-model="configEmail"
							ng-focus="setInputFocusState(true)"
							ng-blur="setInputFocusState(false)"
							placeholder="{{srvLocale.translations.htmlFormEmailPlaceHolder}}"
							required>
                        </input>
				</div>
			</div>

			<div class="row">
				<a class="btn btn-primary col-xxs-12 col-sm-offset-3 col-sm-3"
						ng-click="createAccount()"
						ng-disabled="getInputFocusState()" ><!-- ng-disabled="loginForm.$invalid" -->
						{{srvLocale.translations.htmlButtonRegister}}
				</a>
				<a class="btn btn-link white col-xxs-12 col-sm-3" 
						ng-click="gotoLogin()"
						ng-disabled="getInputFocusState()">
					{{srvLocale.translations.htmlTextAlreadyRegistered}}
				</a>
			</div>

		</form>

	</div>
</div>