<div ng-controller="ctrlConfig" class="vertical-container">
	<div class="vertical-align">
		<!-- first column - login form -->
		<div class="row">
			<h3 class="col-xxs-12 col-xs-offset-3 col-xs-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
			<h7 class="col-xxs-12 col-xs-offset-3 col-xs-6 white bigger">{{translate('htmlGuiderTextPasswordForgotten')}}</h7>			
		</div>
		
		
		<form class="form-horizontal" name="forgottenPwdForm" novalidate ng-submit="requestPassword()">
			<div class="form-group row" ng-class="{'has-error':(forgottenPwdForm.email.$dirty && forgottenPwdForm.email.$invalid)}">
				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<span ng-show="forgottenPwdForm.email.$dirty && forgottenPwdForm.email.$invalid">
						<span class="help-inline c4p-field-error-message" ng-show="forgottenPwdForm.email.$error.required">{{formError('htmlErrorRequired', ['htmlFormEmail'])}}</span>
						<span class="help-inline c4p-field-error-message" ng-show="forgottenPwdForm.email.$error.email">{{formError('htmlErrorEmailFormat', ['htmlFormEmail'])}}</span>
					</span> 
				</div>
				
				<div class="col-xxs-12 col-xs-offset-3 col-xs-6">
					<input ng-model="email" type="email" id="email" name="email" 
						class="form-control editable" 
						placeholder="{{translate('htmlFormEmailPlaceHolder')}}" required />
				</div>
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-primary col-xxs-12 col-xs-offset-3 col-xs-4" ng-disabled="forgottenPwdForm.$invalid" >{{translate('htmlButtonRequestPassword')}}</button>
				<a class="btn btn-link white col-xxs-12 text-center col-xs-2" ng-click="gotoLogin()">
					<small>{{translate('htmlButtonLogin')}}</small>
				</a>
			</div>
		</form>
	</div>
</div>