<div class="c4p-vertical-container">
	<div class="c4p-vertical-align">
		<div class="row">
			<h3 class="col-xxs-12 col-sm-offset-3 col-sm-6 text-center white login-header">{{translate('htmlGuiderPageTitle')}}</h3>
		</div>
		
		<div class="row">	
        	<div a4p-refresh class="pull-left col-sm-offset-3 white" style="padding-right:10px; padding-bottom:20px;"></div>
			<span class="col-xxs-11 col-sm-6 white">{{translate('htmlGuiderTextValidation')}}</span>
		</div>
		
		<div class="row">
			<a4p-carousel class="col-xxs-12 col-sm-offset-3 col-sm-6 white">
				<a4p-slide active="true">
					<span ng-bind-html-unsafe="translate('htmlGuiderTextWaiting')"></span>
				</a4p-slide>
			</a4p-carousel>
		</div>
	</div>		
</div>


