<div class="meeting-content-container">
<div class="meeting-content">
    <div class="row">
        <div class="col-xxs-1">
            <span>{{currentMeetingObject.pos}}.</span>
        </div>
        <div class="col-xxs-11">
            <c4p-input
                    type-var="text"
                    warn-var="error"
                    title-var="Titre"
                    ng-model="currentMeetingObject.title">
            </c4p-input>
        </div>
    </div>

    <div ng-class="{'c4p-meeting-info': currentMeetingItem == null }">
        <div ng-class="{'active' : dropOver}"
             ng-show="dndActive"
             ng-controller="ctrlMeetingObjLinkDrop"
             sense-opts="{name:'dropObjectMeeting'}"
             sense-dnd-start="dndStart($event)"
             sense-dnd-end="dndEnd($event)"
             sense-dnd-cancel="dndCancel($event)"
             sense-drop-over-enter="dropOverEnter($event)"
             sense-drop-over-leave="dropOverLeave($event)"
             sense-drop-end="dropEnd($event)"
             style="background-color: rgba(0,255,0, 0.6); height: 4em; ">
             {{srvLocale.translations.htmlMeetingDropItemHere}}
        </div>

        <div class="c4p-related-card-holder"
             c4p-show="currentMeetingItem != null">
            <span ng-include="'partials/meeting/meeting_draggable_summarized_item.html'"
                  ng-init="item = currentMeetingItem"> </span>
        </div>

        <div ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlMeetingNoElementSelected}}
        </div>
    </div>

    <br />
    <div style="border-bottom: 1px dotted black"></div>
    <br />

    <div class="row">
        <div class="btn c4p-meeting-info-txt"
             ng-click="setActionItem('select', 'side')"
             ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlMeetingAdd}}
        </div>
        <div class="btn c4p-meeting-info-txt"
             ng-click="setActionItem('select', 'side')"
             ng-show="currentMeetingItem != null">
             {{srvLocale.translations.htmlMeetingChange}}
        </div>
        <div class="btn c4p-meeting-info-txt "
             ng-click="meetingTakePictureObj()"
             ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlActionName.createNewPicture}}
        </div>
        <div class="btn c4p-meeting-info-txt "
             ng-click="doActionObj('editItem', currentMeetingItem)"
             ng-show="currentMeetingItem != null">
            {{srvLocale.translations.htmlActionName.editItem}}
        </div>

    </div>
</div>
</div>
