<div class="meeting-content-container">
<div class="meeting-content">
    <div class="row">
        <div class="col-xxs-1">
            <!--<span>{{selectedMeetingPlan.pos+1}}.</span>-->
            <input type="text" class="form-control" placeholder="{{selectedMeetingPlan.pos+1}}" disabled />
        </div>
        <div class="col-xxs-11">
            <!--<c4p-input
                    type-var="text"
                    warn-var="error"
                    title-var="Titre"
                    ng-model="selectedMeetingPlan.title">
            </c4p-input>-->
            <input type="text" class="form-control" placeholder="todelete" ng-model="selectedMeetingPlan.title" />
        </div>
    </div>

    <div ng-class="{'c4p-meeting-info': currentMeetingItem == null }">
        <div ng-class="{'active' : dropOver}"
             ng-show="dndActive"
             ng-controller="ctrlMeetingObjLinkDrop"
             sense-opts="{name:'dropObjectMeeting'}"
             sense-dndstart="dndStart($event)"
             sense-dndend="dndEnd($event)"
             sense-dndcancel="dndCancel($event)"
             sense-dropoverenter="dropOverEnter($event)"
             sense-dropoverleave="dropOverLeave($event)"
             sense-dropend="dropEnd($event)"
             style="background-color: rgba(0,255,0, 0.6); height: 4em; ">
             {{srvLocale.translations.htmlMeetingDropItemHere}}
        </div>

        <div class="c4p-related-card-holder"
             c4p-show="currentMeetingItem != null">
            <span ng-include="'partials/meeting/meeting_draggable_summarized_item.html'"
                  ng-init="item = currentMeetingItem"> </span>
        </div>

        <div ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlMeetingNoElementSelected}}
        </div>
    </div>

    <br />
    <div style="border-bottom: 1px dotted black"></div>
    <br />

    <div class="row">
        <div class="btn c4p-meeting-info-txt"
             ng-click="setActionItem('select', 'side')"
             ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlMeetingAdd}}
        </div>
        <div class="btn c4p-meeting-info-txt"
             ng-click="setActionItem('select', 'side')"
             ng-show="currentMeetingItem != null">
             {{srvLocale.translations.htmlMeetingChange}}
        </div>
        <div class="btn c4p-meeting-info-txt "
             ng-click="meetingTakePictureObj()"
             ng-show="currentMeetingItem == null">
            {{srvLocale.translations.htmlActionName.createNewPicture}}
        </div>
        <div class="btn c4p-meeting-info-txt "
             ng-click="doActionObj('editItem', currentMeetingItem)"
             ng-show="currentMeetingItem != null">
            {{srvLocale.translations.htmlActionName.editItem}}
        </div>

    </div>
</div>
</div>
