<!-- Meeting Content -->

<div ng-switch on="getMeetingViewMode()">


    <div ng-switch-when="presentation">
        <div class="c4p-viewer"
             ng-class="{'c4p-viewer-fullscreen':isFullScreen, 'c4p-viewer-windowed':!isFullScreen}">
            <div ng-style="{width:getViewerWidth()+'px', height:getViewerHeight()+px}"
                 resize-opts="{name:'meeting_ctrlViewerContent'}"
                 sense-opts="{name:'meeting_ctrlViewerContent', axeX:'swipe', axeY:'', init:'setSensePanel($sense);', watchRefresh:'isFullScreen'}"
                 sense-scroll-opts="{scrollbarClass:'c4p-scrollbar', wheelAction:'zoom', zoom: true, momentum: 0, zoomMin: 1, zoomMax: 10}"
                 sense-swipe-end="onDocumentSwipe($event)">
                    <c4p-viewer-content obj-var="documentObject"></c4p-viewer-content>
            </div>
            <div ng-click="togglePresentation();toggleFullScreen()" ng-show="plans.length > 0" class="toggle-mode-button">
                <span class="c4p-icon-std glyphicon c4p-stroke"
                      ng-class="{'glyphicon-play':!isFullScreen, 'glyphicon-stop':isFullScreen}"></span>
            </div>
        </div>
    </div>


    <div ng-switch-when="editor" class="meeting-content-container">
        <span ng-include="'partials/meeting/meeting_object_editor.html'"> </span>
    </div>

    <div ng-switch-default class="meeting-content-container">
        <c4p-input
                ng-model="srvNav.item.description"
                type="textarea"
                rows=5>
        </c4p-input>
    </div>
</div>

<!-- Meeting Content END -->



