<!-- Headers -->
<div class="row" resize-opts="{}">
    <div class="c4p-dialog-header">

        <div class="col-xxs-12">
            <ul class="nav nav-pills">
              <li  ng-class="{active:onlyFeedback}">
                <a class="btn" data-toggle="tab" ng-click="onlyFeedback = true;">
                    <h5>{{srvLocale.translations.htmlGuiderNeedHelp}}</h5>
                </a>
              </li>
              <li class="pull-right">
                <a ng-click="close()" class="btn">
                    <span class="">&times;</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
  <div class="c4p-dialog-container">
    <div class="col-xxs-12">


              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane fade in" id="home" ng-class="{active:!onlyFeedback}"
                      ng-controller="ctrlGuiderDialog">

                  <div class="row">
                    <a4p-carousel class="col-xxs-12 col-xs-offset-3 col-xs-6" interval="guider_interval">
                      <a4p-slide ng-repeat="slide in guider_slides" active="slide.active">
                          <img ng-src="{{slide.image}}">

                          <div class="carousel-caption">
                              <h4>Slide {{$index}}</h4>

                              <p>{{slide.text}}</p>
                          </div>
                      </a4p-slide>

                    </a4p-carousel>
              <!--
                  <a4p-carousel interval="myInterval">
                      <a4p-slide ng-repeat="slide in slides" active="slide.active">
                          <img ng-src="{{slide.image}}" style="margin:auto;">

                          <div class="carousel-caption">
                              <h4>Slide {{$index}}</h4>

                              <p>{{slide.text}}</p>
                          </div>
                      </a4p-slide>
                  </a4p-carousel>
              -->
                  </div>

                </div>
                <div class="tab-pane fade in" id="question"  ng-class="{active:onlyFeedback}"
                    resizecss-height="getResizeHeight() *0.7"
                    sense-opts="{name:'dialogFeedback', axeY:'scroll'}"
                    sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}" >

                  <div class="container">
                    <div class="row" >
                        <h5 class="col-xxs-12 col-sm-6 col-sm-offset-3">{{srvLocale.translations.htmlMsgFeedbackEmail}}</h5>
                        <!-- Email if unknown -->
                        <div class="col-xxs-12 col-sm-6 col-sm-offset-3" ng-show="feedback.emailRequired">
                            <c4p-input title-var="srvLocale.translations.htmlMsgFeedbackContactEmpty"
                                       ng-model="feedback.email"
                                       placeholder="{{srvLocale.translations.htmlFormEmailPlaceHolder}}"
                                       type="mail"
                                       style="width:100%"
                                       warn-var = "feedback.email"
                                       required>
                            </c4p-input>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Phone if unknown -->
                        <div class="col-xxs-12 col-sm-6 col-sm-offset-3" ng-show="feedback.emailRequired">
                            <c4p-input title-var="srvLocale.translations.htmlMsgFeedbackPhone"
                                       ng-model="feedback.phone"
                                       placeholder="{{srvLocale.translations.htmlFormPhonePlaceHolder}}"
                                       type="tel"
                                       style="width:100%">
                            </c4p-input>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Message -->
                        <div class="col-xxs-12 col-sm-6 col-sm-offset-3">
                            <c4p-input ng-model="feedback.message"
                                       placeholder="{{srvLocale.translations.htmlFormMessagePlaceHolder}}"
                                       type="textarea"
                                       rows=5 cols=40
                                       style="width:100%">
                            </c4p-input>
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-success col-xxs-12 col-sm-3 col-sm-offset-6"
                           data-dismiss="modal"
                           ng-class="{disabled : (feedback.emailRequired && !feedback.email) }"
                           ng-click="submit()">
                            {{srvLocale.translations.htmlButtonSend}}
                        </a>
                    </div>
                    
                    <div class="row">
                         <!--Vertical Filler to let scroll inuts while virtual keyboard is masking almost all te screen-->
                        <div class="col-xxs-12" ng-style="{minHeight:getResizeHeight()+'px'}"></div>
                    </div>

                  </div>
                </div>
              </div>

    </div>
  </div>
</div>
