<div class="c4p-modal-img" ng-style="{width:getResizeWidth()+'px', height:getResizeHeight()+'px'}"
     resize-opts="{name:'dialog_ctrlShowImage'}"
     sense-opts="{name:'dialog_ctrlShowImage', axeX:'swipe', axeY:'', init:'setSensePanel($sense);'}"
     sense-scroll-opts="{scrollbarClass:'c4p-scrollbar', wheelAction:'zoom', zoom: true, momentum: 0, zoomMin: 1, zoomMax: 10}"
     sense-swipe-end="onImageSwipe($event)">

    <img ng-src="{{imageObject.fileUrl}}" />

    <div class="c4p-modal-close" ng-click="close()">
        <span class="icon-3x glyphicon glyphicon-remove c4p-stroke"></span>
    </div>
</div>