<!-- Headers -->
<div class="row" resize-opts="{}">
    <div class="c4p-dialog-header">

        <div class="col-xxs-12">
            <!-- Nav tabs -->
            <ul class="nav nav-pills">
              <li>
                <a class="btn disabled">
                    <h5 class="a4p-dot">{{calendarDayCasualName}} {{calendarDayFullName}}</h5>
                </a>
              </li>
              <li class="pull-right">
                <a class="btn" ng-click="close()">
                  <span class="c4p-icon-std">&times;</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>



<div class="row">
  <div class="c4p-dialog-container">
    <div class="col-xxs-12" 
        resizecss-height="getResizeHeight() *0.7"
        sense-opts="{name:'dialogFeedback', axeY:'scroll'}"
        sense-scrollopts="{scrollbarClass:'c4p-scrollbar'}">


          <!-- All day Event list -->
          <div class="row c4p-details" ng-show="(calendarSelectedDay.eventsAllDay.length == 0) && (calendarSelectedDay.events.length == 0) ">
              <div class="c4p-infos-txt">{{srvLocale.translations.htmlCalendarDayTextNoEvent}}</div>
          </div>
          <ul class="nav nav-pills nav-stacked"
              ng-show="calendarSelectedDay.eventsAllDay.length">
              <!--<li class="c4p-details  c4p-color-a-gradient2">
                  <span class="">{{srvLocale.translations.htmlCalendarDayTextAllDayEvent}}</span>
              </li>-->
              <li ng-repeat="item in calendarSelectedDay.eventsAllDay"
                  class="c4p-details  c4p-color-a-gradient2">
                  <span ng-include="'partials/navigation/cards/summarized_item.html'"
                        ng-click="setItem(item)"></span>
              </li>
          </ul>


          <!-- Event list -->
          <ul class="nav nav-pills nav-stacked" ng-show="calendarSelectedDay.events.length">
              <!--<li class="c4p-details  c4p-color-a-gradient2">
                  <span class="">{{srvLocale.translations.htmlCalendarDayTextEvents}}</span>
              </li>-->
              <li ng-repeat="item in calendarSelectedDay.events"
                  class="c4p-details  c4p-color-a-gradient3">
                  <span ng-include="'partials/navigation/cards/summarized_item.html'"
                        ng-click="setItem(item)"></span>
              </li>
          </ul>


    </div>
  </div>
</div>
